/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;480;600;700;800;900&display=swap');


body {
    font-family: 'Poppins', sans-serif; 
    background-image: url(img/medical.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    color: #000000; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px; 
    box-sizing: border-box; 
}


#titulo {
    position: fixed; 
    top: 5%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0.24); 
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
    border-radius: 20px; 
    text-align: center; 
    max-width: 90%; 
}


#subtitulo {
    position: fixed;
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: rgb(0, 0, 0); 
    text-align: center; 
    max-width: 90%; 
}

/* dx responsivo */
@media (max-width: 767px) {
    #titulo {
        font-size: 1.5rem; 
        top: 10%; 
        padding: 8px;
    }

    #subtitulo {
        font-size: 1rem;
        top: 20%; 
        padding: 8px; 
    }

    .chat-box {
        padding: 10px; 
        width: 100%; 
        max-height: 50vh; 
        top: 5%; 
        left: 0; 
        right: 0; 
        margin: 0 auto; 
    }

    .input-field {
        width: calc(100% - 80px);
        padding: 8px; 
    }

    .send-button {
        padding: 8px 20px; 
    }
}

