
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.chat-box {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 90px;
    width: 990px; 
    position: fixed;
    top: 55%; 
    left: 15%; 
    
}


.message {
    margin-bottom: 10px;
}

.input-field {
    width: 60%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    position: fixed; 
    top: 80%; 
    left: 15%; 
}

.send-button {
    background-color: #47f9ff;
    color: #000000;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: fixed; 
    top: 87%; 
    left: 15%; 
}

.send-button:disabled {
    background-color: #ccc;
    color: #000000;
}

