li {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, hsl(170, 100%, 76%), #4ca5ff);
    background-color: #ffffff; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
}
