<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="1.css">

</head>

<body>
   <ul> <h1>Bem vindo ao Health Care</h1>
    <br>
   
 <ul>
        <li style="--1:#8da0ff;--j:#fffd88;">
           <span><bottom> <a href="http://localhost:3000/">Iniciar</a> </bottom></span>
           
            
             
        </li>
        
</body>

</html>